---
import type { GetStaticPaths } from "astro";
import {Image} from "astro:assets"
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import H1 from "../../components/H1.astro";
export const getStaticPaths =  (async () => {
    const posts = await getCollection("posts")

    const paths = posts.map((post)=>{
        return{
            params:{
                slug: post.slug
            },
            props: {
                post
            }
        }
    })
    return paths;
}) satisfies GetStaticPaths;

type Props = {
    post: CollectionEntry<"posts">
}

const {post} = Astro.props
const {Content} = await post.render()
---
<h1>
    <Layout title={post.data.title} >
            <div class="text-zinc-500 text-2xl mb-16">
                ← <a href="/blog" class="underline">Back to all blogs</a>
            </div>
    
    
            <H1>{post.data.title}</H1>
    
            <!-- <PostMeta post={post} /> -->
    
            <Image
                src={post.data.image}
                alt={post.data.title}
                width={1024}
                height={1024 / 1.5}
                format="webp"
                class="rounded-2xl shadow-xl mb-28 aspect-thumbnail object-cover"
            />
            <div class="mb-10">
                <!-- <TableOfContents headings={headings} /> -->
            </div>
            <div class="relative">
                <!-- <Share post={post} /> -->
    
                <div class="prose prose-2xl overflow-visible relative">
                    <Content />
                </div>
            </div>
    
        <div
            class="bg-teal-100/30 py-14 px-24 relative border-b border-teal-900 mt-44"
        >
            <div class="max-w-7xl mx-auto">
                <div id="comments" class="">
                    <span class="font-bold text-teal-900 text-4xl mr-12"
                        >Comments</span
                    >
<!--     
                    <span
                        class="border border-teal-900 text-teal-900 rounded-full px-4 py-2 font-bold text-xl"
                    >
                        {comments.length}
                    </span> -->
                </div>
                <div class="mb-14">
                    <!-- <CommentForm /> -->
                </div>
                <!-- <CommentList comments={comments} /> -->
            </div>
        </div>
    
        <div class="px-24 py-20 max-w-7xl mx-auto">
            <p class="font-bold text-teal-900 text-4xl mb-16">Related posts</p>
            <!-- <PostList posts={relatedPosts} /> -->
        </div>
    </Layout>
</h1>